apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-dep
spec:
  template:
    metadata:
      labels:
        app: db
    
    spec:
      containers:
        - name: db
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: voting-app-config
                  key: DB_HOST
          resources:
            requests:
              cpu: "100m"
              memory: "150Mi"
            limits:
              cpu: "500m"
              memory: "500Mi"

  replicas: 1
  selector:
    matchLabels:
      app: db