apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-dep
spec:
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: dockersamples/examplevotingapp_vote
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "150Mi"
            limits:
              cpu: "500m"
              memory: "500Mi"
  replicas: 1
  selector:
    matchLabels:
      app: vote
            